#red {
  color: red;
  font-weight: bold;
}

#green {
  color: green;
  font-weight: bold;
}

#blue {
  color: blue;
  font-weight: bold;
  background-color: yellow;
}

#orange {
  color: orange;
  font-weight: bold;
}

#yellow {
  color: yellow;
  font-weight: bold;
}

#pink {
  color: pink;
  font-weight: bold;
}

#gray {
  color:gray;
  font-weight: bold;
}

#brown {
  color: brown;
  font-weight: bold;
}

#white {
  color:white;
  font-weight: bold;
}

#turquoise {
  color:turquoise;
  font-weight: bold;
}

body {
font-family: 'Arvo', serif;
font-family: 'Shadows Into Light', cursive;
width: 90%;
margin: 0 auto;
}

#content {
overflow: auto;
}

#feature, #footer {
margin: 1%;
}

.column1 {
  width: 49%;
  float: left;
  margin: .5%;
  background-color: yellow;
  text-align: center;
  vertical-align: text-top;
  min-height: 275px;
}

.column2 {
  float: right;
  width: 49%;
  margin: .5%;
  background-color: purple;
  text-align: center;
  vertical-align: text-top;
  min-height: 275px;
}

li {
  display: inline;
  padding: 1em;
}

#footer {
  background-color: green;
  padding: 0.5em 0;
  text-align: center;
  color: yellow;
}

#feature {
  height: 30em;
  margin: 1%;
  background-color: blue;
  clear: both;
  color: yellow;
  text-align: center;
}

#header {
  background-color: red;
  text-align: center;
}

#header ul {
  text-align: right;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: yellow;
  color:red;
}

img:hover {
  opacity: 0.75;
}

#chartchart {
  margin-top: 3em;
  margin-bottom: 3em;
}




